# Ignore everything
/*

# Track certain files
!.gitignore
!/.sops.yaml
!/apply-config.sh
!/bootstrap.sh
!/secrets.sops.env
!/LICENSE
!/README.md

# VyOS bootstrap config
!/bootstrap/
/bootstrap/*
!/bootstrap/*.sh

# VyOS config
!/config-parts/
/config-parts/*
!/config-parts/*.sh

# VyOS scripts
!/scripts/
/scripts/*
!/scripts/*.sh
!/scripts/*.script
!/scripts/commit/
/scripts/commit/*
!/scripts/commit/pre-hooks.d/
/scripts/commit/pre-hooks.d/*
!/scripts/commit/pre-hooks.d/**.sh

# Containers configs
!/containers/
/containers/*
!/containers/adguard/
/containers/adguard/*
!/containers/adguard/config/
/containers/adguard/config/*
!/containers/adguard/config/AdGuardHome.yaml.bootstrap.tmpl
!/containers/adguard/work/
/containers/adguard/work/*
!/containers/adguard/work/.gitkeep

!/containers/bind/
/containers/bind/*
!/containers/bind/config/
/containers/bind/config/*
!/containers/bind/config/etc/
/containers/bind/config/etc/*
!/containers/bind/config/etc/named.conf.tmpl
!/containers/bind/config/etc/rndc.key.tmpl
!/containers/bind/config/etc/ddnsupdate.key.tmpl
!/containers/bind/config/etc/externaldns.key.tmpl
!/containers/bind/config/log
/containers/bind/config/log/*
!/containers/bind/config/log/.gitkeep
!/containers/bind/config/zones/
/containers/bind/config/zones/*
!/containers/bind/config/zones/db.*.arpa
!/containers/bind/config/zones/db.{{*}}

!/containers/dnsdist/
/containers/dnsdist/*
!/containers/dnsdist/config/
/containers/dnsdist/config/*
!/containers/dnsdist/config/dnsdist.conf

!/containers/hadev/
/containers/hadev/*
!/containers/hadev/config/
/containers/hadev/config/*
!/containers/hadev/config/haproxy.cfg

!/containers/haprod/
/containers/haprod/*
!/containers/haprod/config/
/containers/haprod/config/*
!/containers/haprod/config/haproxy.cfg

!/containers/matchbox/
/containers/matchbox/*
!/containers/matchbox/data/
/containers/matchbox/data/*
!/containers/matchbox/data/assets/
/containers/matchbox/data/assets/*
!/containers/matchbox/data/assets/.gitkeep
!/containers/matchbox/data/groups/
/containers/matchbox/data/groups/*
!/containers/matchbox/data/groups/.gitkeep
!/containers/matchbox/data/profiles/
/containers/matchbox/data/profiles/*
!/containers/matchbox/data/profiles/.gitkeep

!/containers/omada/
/containers/omada/*
!/containers/omada/data/
/containers/omada/data/*
!/containers/omada/data/.gitkeep
!/containers/omada/logs/
/containers/omada/logs/*
!/containers/omada/logs/.gitkeep

!/containers/smtp-relay/
/containers/smtp-relay/*
!/containers/smtp-relay/config
/containers/smtp-relay/config/*
!/containers/smtp-relay/config/maddy.conf

# CI
!/.github/
/.github/*
!/.github/renovate.json
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/renovate.yaml

!/tftpboot/
/tftpboot/*
!/tftpboot/.gitkeep
